<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Interface_TheTvDB.Properties.Settings.dbSeriesConnectionString"
            connectionString="Data Source=217.160.178.136;Initial Catalog=dbSeries;Persist Security Info=True;User ID=sa;Password=123user!"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>